#banner {
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 4px;
}

#banner h1 {
  font-size: 64px;
  font-family: 'Quicksand', sans-serif;
}

#banner p {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
